section(class="header")
  .nav
    .push-left
      .hamburger-wrap
        img(src="assets/RoundedRectangle1.svg") 
      .logo-wrap
        a(href="#")
          img(src="assets/logo.png" alt="AVIVA")
        
      ul
        li 
          a(href="#" class="nav-text") INSURANCE
        img(src="assets/Ellipse 7.svg")  
        li
          a(href="#" class="nav-text") SAVINGS &#38; PENSIONS
    .push-right
      ul
        li(class="li-100")
          a(href="#")  
            img(src="assets/phone.png" alt="Contact us")
        img(src="assets/Ellipse 7.svg" class="remove")
        li(class="li-100 remove")
          a(href="#")
            img(src="assets/glass.png" alt="Search")        
        img(src="assets/Ellipse 7.svg" class="remove")
        li(class="li-170 remove")
          a(href="#")
            img(src="assets/My aviva.png" alt="My Aviva")  
