section(class="hero")
  .hero
    .grid-container
      .center-text
        p(id="hero-p") Welcome to Aviva
        h1(id="hero-h1") How can we help?  
        a(href="#") 
          button GET A QUOTE 
