section(class="modules")
  .modules
    .grid-container
      .row
        .col-100
          .center-text
            p Explore Aviva
      .row      
        .col-1to2
          #aviva-drive(class="box-629-left")
            p.main Safer drivers save an average of £101 on Aviva comprehensive car insurance with Aviva Drive.
            p.supporting Saving achieved by 40% of new  customers scoring 7.1+
        .col-2to3
          .box-301-right.yellow
            p.main Following an accident we’ll be with you in less than 45 mins to recover you and your car.    
      .row
        .col-1
          .box-400
            .box-301-left(id="saving-future")
            a(href="#")  
              button SAVING FOR THE FUTURE? 
        
        .col-1to3      
          .box-629-right.blue 
            p.main#long “Excellent service, very professional and great service from the appointed repairer.”
            p.main#short "Very professional &amp great service from the repairer."
            img(src="assets/underscore.svg")
            p.supporting Claire, Whitby 
            .contain-arrows
              img(src="assets/Rounded Rectangle 2.png")
              img(src="assets/Rounded Rectangle 2.png" class="flip")  
        
      .row  
        .col-1
          .box-301-left.yellow
            p.main Up to 1/3 off when you add a second car or van with Aviva MultiCar 
        .col-2
          .box-400.green.margin-top-75 

        .col-3
          .box-400.margin-top-100 
            .box-301-left.yellow
            a(href="#")
              button PLANNING RETIREMENT? 
